<%- include('../partials/user-header')%>
  <main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="/" rel="nofollow">Home</a>
          <span></span> Shop <span></span> Your Cart
        </div>
      </div>
    </div>
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <%if(userCart){%>
              <div class="table-responsive">
                <table class="table shopping-summery text-center clean">
                  <thead>
                    <tr class="main-heading">
                      <th scope="col">Image</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Subtotal</th>
                      <th scope="col">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(let i=0;i<userCart.products.length;i++){%>
                    <tr>
                      <td class="image product-thumbnail">
                        <img
                        class="thumbnail"
                        src="data:<%= userCart.products[i].productId.productImage[0].contentType %>;base64, <%= userCart.products[i].productId.productImage[0].buffer.toString('base64') %>"
                        alt=""
                      />
                      </td>
                      <td class="product-des product-name">
                        <h5 class="product-name">
                          <a href="/product?id=<%=userCart.products[i].productId._id%>"><%=userCart.products[i].productId.productName%></a>
                        </h5>
                        <p class="font-xs">
                          <%=userCart.products[i].productId.brand%>
                        </p>
                      </td>
                      <td class="price" data-title="Price"><span><%=userCart.products[i].productId.salePrice%></span></td>
                      <td class="text-center" data-title="Stock">
                        <div class="detail-qty border radius m-auto">
                          <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                          <span class="qty-val"><%=userCart.products[i].quantity%></span>
                          <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                        </div>
                      </td>
                      <td class="text-right" data-title="Cart">
                        <span> <%=userCart.products[i].productId.salePrice%> </span>
                      </td>
                      <td class="action" data-title="Remove">
                        <a href="#" class="text-muted"><i class="fi-rs-trash"></i></a>
                      </td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
              <div class="cart-action text-end">
                <a class="btn mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                <a class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
              </div>
              <div class="divider center_icon mt-50 mb-50">
                <i class="fi-rs-fingerprint"></i>
              </div>
              <div class="row mb-50">
                <div class="col-lg-6 col-md-12">
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="border p-md-4 p-30 border-radius cart-totals">
                    <div class="heading_s1 mb-3">
                      <h4>Cart Totals</h4>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td class="cart_total_label">Cart Subtotal</td>
                            <td class="cart_total_amount">
                              <span class="font-lg fw-900 text-brand"><%=grandTotal%></span>
                            </td>
                          </tr>
                          <tr>
                            <td class="cart_total_label">Shipping</td>
                            <td class="cart_total_amount">
                              <i class="ti-gift mr-5"></i> Free Shipping
                            </td>
                          </tr>
                          <tr>
                            <td class="cart_total_label">Total</td>
                            <td class="cart_total_amount">
                              <strong><span class="font-xl fw-900 text-brand"><%=grandTotal%></span></strong>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <a href="#" class="btn">
                      <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                  </div>
                </div>
              </div>
              <%}else{%>
                  <h3>No items in cart</h3>
                <%}%>
          </div>
        </div>
      </div>
    </section>

  </main>

  <script>
    document.querySelector('.qty-up').addEventListener('click', (event) => {
        event.preventDefault()
        var qtyValElement = document.querySelector('.qty-val');
        var currentQuantity = parseInt(qtyValElement.textContent);
        qtyValElement.textContent = currentQuantity + 1;
        console.log(qtyValElement.textContent)
    })
    document.querySelector('.qty-down').addEventListener('click', (event) => {
        event.preventDefault()
        var qtyValElement = document.querySelector('.qty-val');
        var currentQuantity = parseInt(qtyValElement.textContent);
        if (currentQuantity > 1) {
            qtyValElement.textContent = currentQuantity - 1;
        }
    })
    document.querySelector('.update-cart').addEventListener('click',(event)=>{
        event.preventDefault()
        var quantity = document.querySelector('.qty-val').textContent
        console.log(quantity)
    })

</script>

  <%-include('../partials/user-footer')%>