<%- include('../partials/user-header')%>
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Shop <span></span> Checkout
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="toggle_info">
            <span
              ><i class="fi-rs-label mr-10"></i
              ><span class="text-muted">Have a coupon?</span>
              <a
                href="#coupon"
                data-bs-toggle="collapse"
                class="collapsed"
                aria-expanded="false"
                >Click here to enter your code</a
              ></span
            >
          </div>
          <div class="panel-collapse collapse coupon_form" id="coupon">
            <div class="panel-body">
              <p class="mb-30 font-sm">
                If you have a coupon code, please apply it below.
              </p>
              <form method="post">
                <div class="form-group">
                  <input type="text" placeholder="Enter Coupon Code..." />
                </div>
                <div class="form-group">
                  <button class="btn btn-md" name="login">Apply Coupon</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="divider mt-50 mb-50"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-25">
            <h4>Select You Address</h4>
          </div>
          <div class="col-lg-6">
            <% if (userAddress) { %> <% userAddress.address.forEach((address) =>
            { %>
            <div class="card mb-3 mb-lg-0">
              <div class="card-header">
                <input
                  type="radio"
                  name="address"
                  id="<%= address._id %>"
                  style="height: 1rem"
                  value="<%= address._id %>"
                  class="selected-address"
                />
                <h5 class="mb-0"><%= address.addressType %></h5>
              </div>
              <div class="card-body">
                <address>
                  <%= address.name %><br />
                  <%= address.city %>,<br />
                  <%= address.landMark %><br />
                  <%= address.state %>
                </address>
                <p><%= address.pincode %></p>
                <p><%= address.phone %></p>
                <p><%= address.altPhone %></p>
              </div>
            </div>
            <% }); %> <% } else { %>
            <div class="card mb-3 mb-lg-0">
              <div class="card-header">
                <h5 class="mb-0">No Address Found</h5>
              </div>
              <div class="card-body">
                <address>
                  <a href="/address/add">Click Here to Add a new address</a>
                </address>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="order_review">
            <div class="mb-20">
              <h4>Your Orders</h4>
            </div>
            <div class="table-responsive order_table text-center">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Product</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <%if(userCart){%> <%userCart.products.forEach((product)=>{%>
                  <tr>
                    <td class="image product-thumbnail">
                      <img
                        src="data:<%= product.productId.productImage[0].contentType %>;base64, <%= product.productId.productImage[0].buffer.toString('base64') %>"
                        alt="#"
                      />
                    </td>
                    <td>
                      <h5>
                        <a href="/product?id=<%=product.productId._id%>">
                          <%=product.productId.productName%>
                        </a>
                      </h5>
                      <span class="product-qty">x <%=product.quantity%></span>
                    </td>
                    <td>$<%=product.productId.salePrice*product.quantity%></td>
                  </tr>
                  <%})%>
                  <tr>
                    <th>SubTotal</th>
                    <td class="product-subtotal" colspan="2">
                      $<%=grandTotal%>
                    </td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td colspan="2"><em>Free Shipping</em></td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td colspan="2" class="product-subtotal">
                      <span class="font-xl text-brand fw-900"
                        >$<%=grandTotal%></span
                      >
                    </td>
                  </tr>

                  <%} else {%>
                  <tr>
                    <h3>No product Found</h3>
                  </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            <a
              href="/placeorder"
              class="btn btn-fill-out btn-block mt-30 place-order"
              >Place Order ( COD )</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document
      .querySelector(".place-order")
      .addEventListener("click", (event) => {
        event.preventDefault();
        const selectedAddressRadioButtons =
          document.querySelectorAll(".selected-address");
        let selectedAddressValue = null;
        for (const radioButton of selectedAddressRadioButtons) {
          if (radioButton.checked) {
            selectedAddressValue = radioButton.value;
            window.location.href=`/placeorder?addressId=${selectedAddressValue}`
            break; 
          }
        }
        if (selectedAddressValue !== null) {
          console.log("Selected Address ID:", selectedAddressValue);
        } else {
          console.log("No address is selected.");
        }

        console.log("Clicked");
      });
  });
</script>
<%-include('../partials/user-footer')%>
